{
  "mediatailor_configs": [
    "your-mediatailor-config-1",
    "your-mediatailor-config-2"
  ],
  "metrics": [
    "Avail.FillRate",
    "Avail.Duration",
    "Avail.FilledDuration",
    "AdDecisionServer.FillRate"
  ],
  "recipients": [
    "user1@example.com",
    "user2@example.com"
  ],
  "sender_email": "noreply@example.com",
  "schedule": {
    "hour": "9",
    "minute": "0"
  }
}