{
  "mediatailor_configs": [
    "your-mediatailor-config-1",
    "your-mediatailor-config-2"
  ],
  "metrics": [
    "Avail.FillRate",
    "Avail.Duration",
    "Avail.FilledDuration",
    "AdDecisionServer.FillRate",
    "AdDecisionServer.Ads",
    "AdDecisionServer.Duration",
    "AdDecisionServer.Latency",
    "AdDecisionServer.Errors",
    "AdDecisionServer.Timeouts",
    "Avail.Impression",
    "Avail.ObservedDuration",
    "GetManifest.Errors",
    "Origin.Errors"
  ],
  "recipients": [
    "recipient1@yourdomain.com",
    "recipient2@yourdomain.com"
  ],
  "sender_email": "mediatailor-reports@yourdomain.com",
  "schedule": {
    "hour": "9",
    "minute": "0"
  }
}